.data-div {
    color: #666666;
    text-align: left;
}
.export-div {
    display: none;
}  
.date-div, tr, th {
    border: 1px solid;
    padding: 4px;
    text-align: left;
    width: 100%;
    font-size: small;
}
.hr-details {
    width: 320px;
}
.div-btns {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
.btn-negative  {
    color: white;
    background-color: #ff0000;
    border-color: #ff0000;
    font-size: medium;
    height: 50px;
    width: 100px;
}
.btn-neutral {
    color: white;
    background-color: #3399ff;
    border-color: #3399ff;
    font-size: medium;
    height: 50px;
    width: 100px;
}
.btn-accept {
    color: white;
    background-color: #2CFE6F;
    border-color: #2CFE6F;
    font-size: medium;
    height: 50px;
    width: 100px;
}

.btn-export {
    color: white;
    background-color: #3399ff;
    border-color: #3399ff;
    font-size: small;
    height: 25px;
}
.btn-export-disable {
    color: white;
    background-color: #748da6;
    border-color: #748da6;
    font-size: small;
    height: 25px;
}