.detail-all-div {
    max-width: 300px;
}
.data-div {
    color: #666666;
    text-align: left;
}
.data-div-non {
    display: none;
}
.date-div {
    border: 1px solid;
    padding: 4px;
    text-align: left;
    width: 100%;
    font-size: small;
}
.hr-details {
    width: 320px;
}
.div-btns {
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
}
.btn-negative  {
    color: white;
    background-color: #ff0000;
    border-color: #ff0000;
    font-size: medium;
    height: 50px;
    width: 100px;
}
.btn-neutral {
    color: white;
    background-color: #3399ff;
    border-color: #3399ff;
    font-size: medium;
    height: 50px;
    width: 100px;
}
.btn-problem {
    color: white;
    background-color: #ff9c33;
    border-color: #ff9c33;
    font-size: medium;
    height: 50px;
    width: 100px;
}
.btn-accept {
    color: white;
    background-color: #2CFE6F;
    border-color: #2CFE6F;
    font-size: medium;
    height: 50px;
    width: 100px;
}
.btn-export-txt {
    color: white;
    background-color: #3399ff;
    border-color: #3399ff;
    font-size: small;
    height: 25px;
}
.btn-export-txt-none {
    display: none;
}
.btn-export-pdf {
    color: white;
    background-color: #3399ff;
    border-color: #3399ff;
    font-size: small;
    height: 25px;
}
.export-div {
    display: block;
}  
.btn-export-disable {
    color: white;
    background-color: #748da6;
    border-color: #748da6;
    font-size: small;
    height: 25px;
}
.texarea-details {
    width: 300px;
    max-width: 300px;
    height: 120px;
    resize: none;
}
.select-actions {
    font-size: medium;
    border-color: #3399ff;
    width: 230px;
}
