.div-header-pedidos{
    justify-content: flex-start;
}
.tr-user:hover {
    background-color: rgb(150, 148, 148);
}
.data-div-texfield {
    width: 230px;
}
.input-label-add-usr {
    width: 90px;
}
.table-users {
    font-size: small !important; 
    max-width: 200px;
}
.tr-user{
    border: 1px solid;
    padding: 4px;
    text-align: left;
    width: 100%;
    font-size: small;
}