.div-pedidos {
    display: flex;
    justify-content: center;
}
.div-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div-header-pedidos {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.div-header-pedidos , button {
    margin-right: 20px;
    margin-left: 20px;
}
.hr-line {
    width: 320px;
}
.pedido-component {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #666666;
    color: white;
}
.pedido-component-green {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #22d55b;
    color: white;
}
.pedido-componen-problem {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ff9c33;
    color: white;
}
.pedido-component-green-black {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1c9943;
    color: white;
}
.pedido-component-g {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #22d55b;
    color: white;
}
.pedido-component-red {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ff0000;
    color: white;
}
.pedido-component-yellow {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #c4c42a;
    color: white;
}
.pedido-component-neutral {
    max-width: 300px;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3399ff;
    color: white;
}

.pedido-component, div {
    margin: 5px;
}

.btn-big {
    color: white;
    background-color: #3399ff;
    border-color: #3399ff;
    font-size: xx-large;
    
}
.btn-small-logout {
    color: white;
    background-color: #3399ff;
    border-color: #3399ff;
    font-size: x-small;
    height: 40px;
}
.select-small {
    font-size: medium;
    border-color: #3399ff;
}
.select-small-cco {
    font-size: small;
    border-color: #3399ff;
}
.filter-sub {
    margin: 5px;
    color: #3399ff;
}
.textfield-search    {
    font-size: small;
    border-color: #3399ff;
    width: 60px;
}
.date-input {
    font-size: small;
    border-color: #3399ff;
    width: 80px;
}